:root.theme_dark {
  --main-font: "IBM Plex mono";
  --text-color: #F1B2CE;
  --bg-color: #FF0070;
  --text-accent: #ff0070;
  --text-color-hagging: #000028;
  --color-title: #DB00FF;
  --color-shadow: #FF0070;
  --color-outline: rgba(255, 0, 112, 0.40);
}

.page.theme_dark {
    --main-font: "IBM Plex mono";
    --text-color: #F1B2CE;
    --bg-color: #FF0070;
    --text-accent: #ff0070;
    --text-color-hagging: #000028;
    --color-title: #DB00FF;
    --color-shadow: #FF0070;
    --color-outline: rgba(255, 0, 112, 0.40);
}
