:root.theme-light {
  --main-font: "IBM Plex mono";
  --text-color: #353430;
  --bg-color: #FF8DCB;
  --text-accent: #353430;
  --text-color-hagging: #353430;
  --color-title: #FFC2E6; 
  --color-shadow: #FF8DCB;
  --color-outline: rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root {
    --main-font: "IBM Plex mono";
    --text-color: #353430;
    --bg-color: #FF8DCB;
    --text-accent: #353430;
    --text-color-hagging: #353430;
    --color-title: #FFC2E6;
    --color-shadow: #FF8DCB;
    --color-outline: rgba(50, 49, 45, 0.40);
  }
}

.page.theme_light {
  background-image: url('../images/cover-image-light.png');
}

.theme_light .decoration_element {
  display: none;
}